<header>
    <div class="logo">
        LAWN SUPPLY
    </div>

    <nav>
        <ul class="navbar">
            <li><a class="navtext" href="bUpload.html">Bulk Upload</a></li>
            <li><a class="navtext" href="/products/inventory">Inventory</a></li>
            <li><a class="navtext" href="index.html">Sign Out</a></li>
        </ul>
    </nav>
</header>