<footer id="footer">
    <div id="footer-inner">
        <div class="foot">
            LAWN SUPPLY
            <div class="foot1"> <a href="#">Contact Us </a></div>
        </div>

        <pre>
Copyright &#169; 2024 Lawn Supply
         All rights reserved
    </pre>
        <div class="social">
            <a class="facebook" href="#"><img src="/images/facebook-icon.png" alt="face"></a>
            <a class="IG" href="#"><img src="/images/IG-icon.png" alt="IG"></a>
            <a class="Twitter" href="#"><img src="/images/twitter-icon.png" alt="Twitter"></a>
        </div>

    </div>
</footer>
</body>

</html>