<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="styles/styles.css" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' http://localhost:8000/products;">
    <script src="scripts/script.js" defer></script>
</head>

<body>
    <div id="container">
        <div id="content-wrap">
            <header class="product">
                <div class="logo">
                    <p>Lawn Supply</p>
                </div>

                <form action="#" class="searchbar">
                    <input type="text" placeholder="Look for products..." name="q">
                    <button type="submit"><img src="images/search.png"></button>
                </form>

                <nav class="navigation">
                    <ul class="navbar">
                        <li class="navitem"><a class="navlink" href="index.html">Home</a></li>
                        <li class="navitem"><a class="navlink" href="index.html">Sign In</a></li>
                        <li class="navitem"><a class="navlink" href="products.html">Products</a></li>
                        <li class="navitem"><a class="navlink" href="cart.html">Cart</a></li>
                    </ul>
                </nav>
            </header>