<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../public/styles/styles.css" />
    <script src="../../public/scripts/script.js" defer></script>
    <title>
        <%= title %>
    </title>
</head>