.container {

}

header {
    background-image: url(pictures/nicelawn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 400px;
    
}