body {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

p {
    margin: 0;
}


header {
    background-image: url(../images/nicelawn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.product {
    height: 150px;
}

.logo {
    font-size: 30pt;
    color: white;
    padding: 20pt;
}

.navigation {}

.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-right: 30px;
}

.navitem {}

.navlink {
    color: white;
    font-size: 17pt;
    padding-right: 40px;
    text-decoration: none;
}


.searchbar {
    width: 100%;
    max-width: 500px;
    height: 15px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px;
}

.searchbar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
}

::placeholder {
    color: white;
}

.searchbar button img {
    width: 25px;
}

.searchbar button {
    border: 0;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: green;
}


h2 {
    text-align: center;
    color: white;
    margin: 70px;
    font-size: 70px;
    border: 10px outset lightgreen;
    background-color: green;
    border-radius: 5px;

}

.ph2 {
    font-size: 35px;
    margin: 40px;
}

.dIMG {
    display: flex;
    justify-content: space-around;
}

.dIMG img {
    width: 350px;
    height: 350px;
    border: 1px solid black;

}

article {
    color: green;
    text-align: center;
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 15px;
    font-size: 20px;
    width: 220px;
}

.dPar {
    text-align: center;
    color: green;
    display: flex;
    padding-left: 610px;
    width: 250px;


}

.splashbox {
    border-top: 1px solid gray;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
}


.boxes {
    margin: 50px;
    text-align: center;
    line-height: auto;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: space-evenly;

}

.box1,
.box2,
.box3 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px outset lightgreen;
    background-color: green;
    border-radius: 5px;
}

.pboxes,
.pboxes2 {
    margin: 50px;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
}

.pbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid green;
    flex-wrap: wrap;
    color: green;
}

.pbox.inline {
    display: inline-block;
}

.pbox img {
    width: 125px;
    height: 125px;
}

.box1 img {
    width: 350px;
    height: 240px;
}

.box2 img {
    width: 390px;
    height: 240px;
}

.box3 img {
    width: 350px;
    height: 240px;
}

.foot {
    font-size: 30pt;
    color: green;
    margin-inline-start: 30px;
    display: flex;
    justify-content: space-between;
}

.foot1 {
    padding-right: 20px;
    padding-top: 20px;
    font-size: 20pt;
}

footer a:visited,
:link {
    color: green;
}

#footer {
    border-top: 1px solid grey;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#footer-inner {
    background-color: lightgreen;
}

.social {
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;

}

.facebook img {
    padding-right: 15px;
    width: 25px;
}

.IG img {
    padding-right: 10px;
    width: 25px;
}

.Twitter img {
    padding-left: 7px;
    width: 25px;
}



.conWindow {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.conWindow-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Close button style */
.closeWindow {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeWindow:hover,
.closeWindow:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#error-message {
    color: red;
}

#quantity {
    width: 22px;
}

/* Adjustments for smaller screens */
@media only screen and (max-width: 768px) {
    .pbox {
        width: 45%;
    }
}

@media only screen and (max-width: 480px) {
    .pbox {
        width: 100%;
    }
}