header {
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 80px;
    background-color: green;
    color: white;
    align-content: baseline;
}

.logo {
    font-size: 30pt;
    color: white;
    padding: 20px;
}

.navbar {
    display: flex;
    padding-top: 15px;
    list-style-type: none;
    text-align: center;
}

.navtext {
    color: white;
    font-size: 15pt;
    padding: 20px;
    justify-content: space-between;
    text-decoration: none;

}

.uploadBox {
    margin: 20px;
}

.pContainer {
    display: flex;
    flex-direction: column;

}

.pContainer h1, h2{
    margin: 20px;
}

#options {
    width: 200px;
    margin: 2px;
    display: inline-block;
}

#label {
    margin-left: 19px;
    font-size: 18px;
    display: inline-block;
}

#select {
    width: 75px;
    display: inline-block;
}

#close {
cursor: pointer;
}

.addPro {
    margin-left: 20px;
}

#button4add {
    margin-top: 15px;
}

#productAdd {
    padding: 20px;
}

#listP {
    list-style-type: none;
}

#listP li {
    margin: 20px;
}