body {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    margin: 0;
}

header {
    background-image: url(../images/nicelawn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo {
    font-size: 30pt;
    color: white;
    padding: 20pt;
}

.navigation {}

.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-right: 30px;
}

.navitem {}

.navlink {
    color: white;
    font-size: 17pt;
    padding-right: 40px;
    text-decoration: none;
}

.searchbar {
    width: 100%;
    max-width: 500px;
    height: 15px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px;
}

.searchbar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
}

::placeholder {
    color: white;
}

.searchbar button img {
    width: 25px;
}

.searchbar button {
    border: 0;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: green;
}

h2 {
    text-align: center;
    color: white;
    margin: 70px;
    font-size: 70px;
    border: 10px outset lightgreen;
    background-color: green;
    border-radius: 5px;

}

.boxes {
    margin: 50px;
    text-align: center;
    line-height: auto;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: space-evenly;

}

.box1,
.box2,
.box3 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px outset lightgreen;
    background-color: green;
    border-radius: 5px;
}

.foot {
    font-size: 30pt;
    color: green;
    margin-inline-start: 30px;
    display: flex;
    justify-content: space-between;
}
.foot1 {
    font-size: 20pt;
}
footer a:visited, :link {
    color: green;
}

footer {
    background-color: lightgreen;
}
.social {
    display:flex;
    justify-content: flex-end;

}